.about-area{
    .about-content{
        p {
            margin-bottom: 30px;
            line-height: 22px;
            font-size: 16px;
          }
    }
    .about-gallery {
            position: relative;
        img {
            border: 1px solid #ddd;
            &:nth-child(1) {
                max-width: 570px;
              }
              &:nth-child(2) {
                position: absolute;
                max-width: 420px;
                right: 11px;
                bottom: -109px;
              }
          }
    }
}