
.section-title {
    text-align: center;
    margin-bottom: 70px;
    span {
        font-size: 20px;
        font-family: oleo script;
        text-transform: lowercase;
      }
      h4 {
        text-transform: capitalize;
        font-size: 50px;
        margin-top: 20px;
        font-weight: 800;
        position: relative;
        padding-bottom: 20px;
        &:before {
            position: absolute;
            content: "";
            height: 3px;
            width: 90px;
            background-color: tomato;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
          &:after {
            position: absolute;
            content: "";
            width: 45px;
            height: 3px;
            background-color: tomato;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }
      }
  }
